
.questionCard {
    height: 9.5rem;

    background-color: var(--white);
    border-radius: 0.5rem;
    
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: var(--black1);
        line-height: 1.5rem;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
    }

    footer button {
        font-size: 0;
        border: 0;
        background-color: transparent;
    }

    footer button:nth-child(2),
    footer button[name=like-button] {
        transform: translateY(0.3rem);
    }

    footer button + button {
        margin-left: 1rem;
    }

    footer span {
        margin-right: 1rem;

        font: 400 1rem 'Poppins';
        color: var(--gray3)
    }
}
